:root {
    --dark: #262627;
    --light: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(236,244,245,1) 50%, rgba(237,245,247,1) 100%);
    --white: #f2fff2;
    --focus:#eb0b0b;
  }


  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:ital,wght@0,400;1,300&display=swap');


  
p{
    font-family: 'Roboto';
    font-size: clamp(1.1rem, 1.4vw, 1.9rem); ;
    padding-top: 1em;
    line-height: 1.8em;
}

li{
    font-family: 'Roboto';
    font-style: weight;
    list-style: none;
}

.nav-li{
    font-size: clamp(1rem, 1.7vw, 1.9rem); ;
}

h1{
    font-size: clamp(2.5rem, 4.8vw, 5.8rem); ;

}



a{
    color: var(--dark);
    text-decoration: none;

    transition: color 0.5s ease;
}

.flex-container{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}


body{
    background:var(--light);
    color: var(--dark);
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat';
    color: var(--dark);
    letter-spacing: 0.06em;
}

*{
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 48
}




@media (max-width:768px){
    body{
        margin: 0rem 2.5rem;
    }

    .flex-container:first-child{
        display: none;
    }

    .about-container{
        height: 94vh;
display: flex;
padding-top: 9em;
flex-wrap: wrap-reverse;
align-items: start;
justify-content: start;
    }
    

    header div{
        height: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
    }

    header nav:last-child{
        display: flex;
        align-items: center;
        justify-content: end;
    }

    header{
        position: sticky;
        display: grid;
        grid-template-columns: 35% 2fr;
        height: 6vh;

    }

    .Logo{
        height: 3.5rem;
    }
}

@media (min-width: 768px) {

body{
    margin: 0rem 3rem;
}



.Logo{
    height: 4rem;
}

.menu{
    display: none;
}


header div{
    display: flex;
    justify-content: start;
    align-items: center;
}

.about-container{
    height: 91vh;
    grid-template-columns: 50vw 1fr;
    padding-top: 12em;
    display: grid;
}


header{
    position: sticky;
    display: grid;
    grid-template-columns: 35% 2fr;
    height: 6vh;
}


}

@media (min-width: 1024px)  {
    

.Logo{
        height: 7rem;
        width:  7rem;
}

body{
    margin: 0rem 7rem;
}

a:hover{
color: var(--focus);
cursor: pointer;
transition: all 0.2s ease;
}

header div{
    display: flex;
    justify-content: start;
    align-items: center;
}

header{
    position: sticky;
    display: grid;
    grid-template-columns: 50% 2fr;
    height: 9vh;
}

.about-container{
    height: 91vh;
    display: grid;
    padding-top: 0em;
    align-items: center;
    grid-template-columns: 45vw 2fr;
}

.about-container div{
    display: inline-block;
}

.p-writting{
    min-height: 8rem;
}

}


