:root {
    --dark: #262627;
    --light: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(236,244,245,1) 50%, rgba(237,245,247,1) 100%);
    --white: #f2fff2;
    --focus:#eb0b0b;
  }

  @font-face {
    font-family: Roboto;
    src: url('Fonts/Roboto-Light.ttf');
  }

  @font-face {
    font-family: Montserrat;
    src: url('Fonts/Montserrat-Medium.ttf');
  }

  @font-face {
    font-family: Roboto-Medium;
    src: url('Fonts/Roboto-Regular.ttf');
  }

p{
    font-family: Roboto;
    font-size: clamp(1rem, 1.4vw, 1.5rem); ;
    padding-top: 1em;
    line-height: 1.7em;
}

li{
    font-family: Roboto-Medium;
    list-style: none;
}

.nav-li{
    font-size: clamp(1rem, 1.7vw, 1.9rem); ;
}

h1{
    font-size: clamp(2rem, 4.4vw, 5.7rem); ;

}

a{
    color: var(--dark);
    text-decoration: none;

    transition: color 0.5s ease;
}

h1,h2,h3,h4,h5,h6{
    font-family: Montserrat;
    color: var(--dark);
    letter-spacing: 0.06em;
}

*{
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}
@media (min-width: 1024px) and (orientation: landscape)  {
    


body{
    background:var(--light);
    color: var(--dark);
    margin: 0rem 7rem;
}

.flex-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}


a:hover{
color: var(--focus);
cursor: pointer;
transition: all 0.2s ease;
}

header div{
    display: flex;
    justify-content: start;
    align-items: center;
}

header{
    position: sticky;
    display: grid;
    grid-template-columns: 50% 2fr;
    height: 5vh;

}

.about-container{
    height: 95vh;
    display: grid;
    align-items: center;
    grid-template-columns: 55% 2fr;
}

.about-container div{
    display: inline-block;
}
.p-writting{
    animation: write   13s alternate;
    white-space: pre-wrap;
    flex-wrap: wrap;
    display: flex;

    width: 100%;
    }

    @keyframes write {
        from { width: 0; white-space: nowrap;overflow: hidden;}
    }
}



